body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333333; /* ciemno szary */
  color: #ffffff; /* biały */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.attraction {
  margin-bottom: 40px;
}

.attraction h2 {
  font-size: 20px;
}

.attraction p {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
