body {
    margin: 0;
    padding: 0;
    background-image: url('1.jpg');
    background-size: cover; /* Scale the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a, .link-button {
    padding: 30px 60px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2em;
    transition: background-color 0.3s, color 0.3s;
}

a:hover, .link-button:hover {
    background-color: #333333;
    color: #ffffff;
}

.link-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
