body {
    margin: 0;
    padding: 0;
    background-color: #333333; /* Tło ciemnoszare */
    font-family: Arial, sans-serif; /* Czcionka Arial */
    color: white; /* Kolor tekstu na biały */
    display: flex;
    flex-direction: column; /* Układ kolumnowy */
    justify-content: space-between; /* Wyrównanie na dole */
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
    align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
    width: 70%;
    height: 100vh;
}

.text {
    flex: 1;
    text-align: justify;
    margin-right: 20px; /* Dodajemy odstęp między napisem a zdjęciem */
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%; /* Ustawienie maksymalnej szerokości zdjęcia */
    height: auto; /* Ustawienie automatycznej wysokości, aby zachować proporcje */
}
